@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,
body {
    font-family: 'Montserrat', sans-serif;
}

$carbon: #333333;
$oily-steel: #9BA8A8;
$arctic-fox: #EBEBE7;
$foggy-dew: #C8CEC4;
$white: #FFFFFF;

$aubergine: #452B30;
$brownish-purple: #74404C;
$parchment: #F3ECD8;
$watercross-pesto: #C7C79E;

$pale-beryl: #95DDDA;

.side-bar {
    width: auto;

    .site-header {
        border-bottom: none;

        button.menu-button {
            color: $white;
            background: $carbon;
        }

        .site-title {
            color: $white;
            font-size: 2rem !important;
            font-weight: bold;
            padding: 0;
            padding-left: 1rem;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        height: 100%;

        ul.navigation-list {
            display: flex;
            flex-direction: column;
            height: 100%;

            li.navigation-list-item {
                padding: 0.2rem 0.3rem;
                border-radius: 0.3rem;

                a {
                    padding: 0.4rem 0.3rem;
                    border-radius: 0.3rem;
                    font-weight: 800;

                    &:hover {
                        background: lighten($carbon, 5%);
                    }
                }

                &:last-child {
                    position: absolute;
                    bottom: 1rem;
                    width: 12.5rem;
                }

                ul.navigation-list-child-list {
                    .navigation-list-link:hover {
                        color: white;
                    }

                    li {
                        display: block;

                        &:last-child {
                            all: unset;
                        }

                        &.navigation-list-item::before {
                            content: none;
                        }
                    }
                }
            }
        }
    }

    footer.site-footer {
        display: none;
    }
}

.navigation-list-link {
    color: $white;

    &.active {
        color: $pale-beryl;

        &::before {
            content: "";
            width: 0.6rem;
            height: 0.6rem;
            border-radius: 0.3rem;
            background: lighten($carbon, 10%);
            position: absolute;
            margin-top: 0.25rem;
            margin-left: -1rem;
        }
    }
}

figure.highlight,
pre.highlight {
    /*background: #F5F6FA;*/
    background: $arctic-fox;
    border-radius: 0.3rem;

    +p {
        margin-top: 1em !important;
    }

    code {
        background: $arctic-fox;
    }
}

// figure.higlight+p {
//     margin-top: 1em !important;
//     // THIS IS WHERE I LEFT
// }

.page-content {
    h3 {
        font-weight: bold;
        text-transform: capitalize !important;
    }

    ul {

        &#markdown-toc {
            li {
                display: block;
            }
        }

        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            &.author-item {
                flex-direction: column;

                // div.author-card {
                //     width: 450px;
                //     height: 250px;
                //     background: red;
                // }
            }

            &:hover {
                span:first-child {
                    background: $carbon;
                    color: $white;

                    &+a {
                        &:not([class]) {
                            color: $pale-beryl;
                        }
                    }
                }
            }

            &::before {
                content: none;
            }

            span:first-child {
                padding: 0.15rem 0.3rem;
                border-radius: 0.3rem;
                background: $arctic-fox;
                color: #586E75;
                font-size: 8px;

                &+a {
                    margin-left: 0.5rem;
                    text-decoration: none;
                    background: none;

                    &:not([class]) {
                        background: none;

                        &:hover {
                            color: $pale-beryl;
                        }
                    }
                }
            }
        }
    }
}



// BLOG POST STYLING

div.post-header {

    h1,
    h3,
    h3,
    h4,
    h5 {
        margin: 0;
    }

    h1,
    h3 {
        margin: 1rem 0rem;
    }

    div.post-info {
        display: flex;
        flex-direction: row;

        h5 {
            color: $oily-steel;
            font-size: 12px !important;
            font-weight: bold;
            margin-right: 0.5rem;

            &.pipe {
                color: $oily-steel;
            }
        }
    }
}